.welcome-container {
    width: 100%;
    color: var(--color-primary);
    overflow: hidden;
    margin-bottom: 3rem;
    display: grid;
    height: 100%;
    grid-template-columns: 65% 45%;
    background: linear-gradient(to right, var(--color-white) 100%, var(--color-primary-bright) 70%, var(--color-primary) 10%);
    position: relative;
    margin-bottom: 3rem;
}

.we-are {
    padding-left: 1rem;
}

.welcome-message>h2 {
    margin-top: 1rem;
}

.we-are img {
    width: 100%;
    height: 60%;
    transform: translate(-5%);
}

.church-service-info {
    width: max-content;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-top: 1px solid var(--color-primary);
}

.church-service-info .location {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.church-service-info .time {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.welcome-gallery {
    width: 100%;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: flex-start;
    padding: 0.5rem 2rem 0 0;
    background-color: var(--color-primary);
    transform: skew(-15deg, 0deg);
    overflow: hidden;
}

.welcome-gallery .row {
    flex: 0 0 40%;
    max-width: 40%;

}

.welcome-gallery .row .img-container {
    padding: 0.5rem;
    padding-right: 0;
    overflow: hidden;

}

.welcome-gallery .row .p-1 {
    padding-top: 3rem;
}

.welcome-gallery>.row>.p-2 {
    height: 200px;
}

.welcome-gallery .row .p-3 {
    padding-top: 4rem;
}