#home {
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-areas:
        "events events events posts"
        "sermons groups faqs posts"
    ; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: 40% 60%; */
    gap: 0.5rem;
}

.home-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.home-interactions-container {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: minmax(321px, auto)repeat(2, 1fr);
    gap: 1rem;
    padding: 0rem 1rem;
}

.church-values-container {
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--color-primary);
    background-color: rgb(234, 234, 234);
}